<!-- Market We Serve Block Start -->
<section id="portfolios" class="section">
    <!-- Container Starts -->
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">{{ data.market_title }}</h2>
            <hr class="lines">
            <p class="section-subtitle">{{ data.market_description }}</p>
        </div>
        <div class="row">
            <!--<div class="col-md-12">
              <div class="controls text-center">
                <a class="filter active btn btn-common" data-filter="all">
                  All
                </a>
                <a class="filter btn btn-common" data-filter=".design">
                  Design
                </a>
                <a class="filter btn btn-common" data-filter=".development">
                  Development
                </a>
                <a class="filter btn btn-common" data-filter=".print">
                  Print
                </a>
              </div>
            </div>-->

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row">
                {% for market in data.markets_node %}
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
                        <div class="portfolio-item">
                            <div class="shot-item">
                                <img src="{{ market.market_image }}" alt="" />
                                <a class="overlay" href="{{ market.uri }}">
                                    <i class="lnr lnr-eye item-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
               </div>
        </div>
    </div>
    <!-- Container Ends -->
</section>
<!-- Market We Serve Block End -->